<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
        <listener
                class-name="testUtils.Listeners"/>
    </listeners>
    <test thread-count="5" name="FORM TEST">
        <classes>
            <class name="tests.Test_Form"/>
        </classes>
    </test>
</suite> <!-- Suite -->
